@()<!DOCTYPE html>
<html ng-app="kspeedbag">
    <head>
        <base href="/">
        <title>Kafka Speed Bag</title>
        <link rel="shortcut icon" type="image/png" href='/public/images/favicon.ico'>
        <link rel="stylesheet" media="screen" href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel="stylesheet" media="screen" href='/assets/stylesheets/cover.css'>
        <link rel="stylesheet" media="screen" href='/assets/stylesheets/epoch.min.css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <!-- Layout based on Cover template for Bootstrap, by "https://twitter.com/mdo" mdo -->
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">

        <div data-ng-view></div>

                </div>
            </div>
        </div>

        <script src='/assets/javascripts/jquery-1.12.2.min.js'></script>
        <script src='/assets/javascripts/angular-1-5-3/angular.min.js'></script>
        <script src='/assets/javascripts/angular-1-5-3/angular-route.min.js'></script>
        <script src='/assets/javascripts/angular-1-5-3/angular-cookies.min.js'></script>
        <script src='/assets/javascripts/angular-1-5-3/angular-sanitize.min.js'></script>
        <script src='/assets/javascripts/lodash.min.js'></script>
        <script src='/assets/javascripts/d3.min.js'></script>
        <script src='/assets/javascripts/epoch.min.js'></script>
        <script src='/assets/javascripts/ng-epoch.js'></script>
        <script src='/assets/javascripts/app.js'></script>
        <script src='/assets/javascripts/services.js'></script>
        <script src='/assets/javascripts/flash.service.js'></script>
        <script src='/assets/javascripts/controllers.js'></script>

    </body>
</html>


